{% extends "front/base.html" %}

{% block content %}
    <div class="jumbotran" align="center">
        <h2>Welcome to name check</h2>
        <p>Constraints of the name</p>
        <ul>
            <il>Must have upper case</il>
            <il>Must have lower case</il>
            <il>Must end in numbers</il>
        </ul>
        <br>
        <form action="{{ url_for("report") }}">
            <label for="name">UserName</label>
            <input type="text" name="name">
            <input type="submit" value="SubmitForm">
        </form>
    </div>
{% endblock %}