<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
</head>
<body>
<title> Pupy Adoption Page   </title>

<main>
   <h1>PLEASE ENTER INFORMATION</h1>
    <label for="name">FirstName</label>
    <input id="name" type="text" name="" placeholder="First Name" >

    <label for="surname">Last Name</label>
    <input id="surnamename" type="text" name="" placeholder="Last Name" >
    <br>

    <label for="email">Email: </label>
    <input id="email" type="email" name="" placeholder="email@gmail.com" >

    <label for="pass">FirstName</label>
    <input id="pass" type="password" name="" placeholder="Password" >

    <p>Are you over 18?</p>
    <label for="yes">Yes</label>
    <input type="radio" name="over18" placeholder="yesOver">
    <label for="no">Yes</label>
    <input type="radio" name="over18" placeholder="noOver" >

    <p>Do you want to pay?</p>
    <select name="payment" >
        <option value="cc">Credit Card</option>
        <option value="cc">Pay Pal</option>
        <option value="cc">Bank Transfer</option>
    </select>

</main>

</body>
</html>